.container__right {
  height: 100%;
  min-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.to-do {
  width: 95%;
  height: 95%;
  min-height: 300px;
  border-radius: 17px;
  background: #e2e5ee;
  box-shadow: inset 5px 5px 10px #d2d5dd, inset -5px -5px 10px #f2f5ff;
  margin: 15px;
  padding: 40px 25px 30px 25px;
}

.to-do__title {
  display: flex;
  font-size: 20px;
  font-weight: 700;
  color: var(--blue);
  margin-bottom: 20px;
}

.to-do__input {
  width: 100%;
  border-radius: 10px;
  background: #e2e5ee;
  box-shadow: inset 6px 6px 6px #d2d5dd, inset -6px -6px 6px #f2f5ff;
  margin-bottom: 40px;
  padding: 10px 20px;
}

.to-do__subtitle {
  display: flex;
  font-size: 16px;
  font-weight: 700;
  color: var(--blue);
  margin-bottom: 20px;
}

.to-do__to-dos {
  width: 100%;
  border-radius: 10px;
  background: #e2e5ee;
  box-shadow: 14px 14px 28px #ced0d9, -14px -14px 28px #f6faff;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0px;
  animation: fadeIn 0.5s ease-in-out;
}

.to-do__text {
  font-size: 13px;
  color: var(--blue);
  width: 100%;
  overflow: hidden;
  cursor: pointer;
}

.to-do__del-btn {
  background-color: transparent;
}

.fa-times {
  color: var(--blue);
  cursor: pointer;
}

.to-do-finished {
  text-decoration: line-through;
  text-decoration-thickness: 2px;
  color: var(--light-blue-2);
}

.fa-check-circle {
  margin-right: 8px;
  cursor: pointer;
}

.to-do__to-dos .far {
  color: var(--light-blue-2);
}

.to-do__to-dos .fas {
  color: var(--blue);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
