.board {
  position: absolute;
  right: 30px;
  height: 80%;
  width: 250px;
  background: linear-gradient(to bottom right, #e8ebf2, #f0f0f3);
  display: flex;
  flex-flow: column wrap;
  justify-content: start;
  align-items: center;
  box-shadow: inset 10px 10px 10px 0 #aeaec042,
    inset -10px -10px 10px 0 rgba(255, 255, 255, 0.7);
  border-radius: 25px;
  overflow: auto;
  padding: 20px;
  margin: 30px;
}

.item {
  background-color: crimson;
}

.input {
  box-sizing: border-box;
  border-style: none;
  height: auto;
  width: 230px;
  line-height: normal;
  margin: 20px 0px;
  padding: 14px;
  background: linear-gradient(to bottom right, #e8ebf2, #f0f0f3);
  display: flex;
  align-items: center;
  box-shadow: inset 5px 5px 5px 0 #aeaec042,
    inset -5px -5px 5px 0 rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  outline-style: none;
  font-size: 10pt;
}

.toDoTitle {
  width: max-content;
  text-align: left;
  margin: 40px 0px 0px 0px;
  font-size: 14pt;
  font-weight: 600;
}

.toDoList {
  list-style: none;
  margin: 20px 0px;
  padding: 0px;
}

.toDoItem {
  box-sizing: border-box;
  height: auto;
  width: 230px;
  padding: 16px;
  margin: 10px;
  background: linear-gradient(to bottom right, #e8ebf2, #f0f0f3);
  box-shadow: -10px -10px 30px 0 #ffffff, 10px 10px 30px 0 #aeaec065;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  word-break: break-all;
  font-size: 12px;
}

.toDoDelBtn {
  background-color: #ffffff00;
  border: none;
}
