@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap");

@import "variables.css";
@import "reset.css";

@import "records.css";

@import "container-right.css";

* {
  user-select: none;
  font-family: "Noto Sans KR", sans-serif;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--default-color);
}

.container {
  height: 80%;
  width: 1000px;
  background-color: var(--default-color);
  border-radius: 15px;
  box-shadow: 0px 42px 79px #a2a4ad;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container__left {
  height: 95%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  justify-content: space-between;
  padding: 10px 20px 30px 40px;
}

.top-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

.top-bar__clock {
  font-size: 20px;
  font-weight: 700;
  color: var(--blue);
  width: 100%;
}

.top-bar__d-day {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.top-bar__d-day-widget {
  padding: 3px 11px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
  background: linear-gradient(145deg, #f2f5ff, #cbced6);
  box-shadow: 5px 5px 9px #d0d3db, -5px -5px 9px #f4f7ff;
  margin-right: 10px;
}

.d-day__date {
  font-size: 12px;
  font-weight: 700;
  color: var(--blue);
}

.d-day__text {
  font-size: 10px;
  color: var(--light-blue);
}

.top-bar__d-day-add-btn {
  background-color: transparent;
  border: 1.5px dashed var(--light-blue);
  border-radius: 13px;
  padding: 5px 14px;
  margin-left: 5px;
  color: var(--light-blue);
}

hr {
  width: 100%;
  border-radius: 2px;
  background: var(--blue);
  opacity: 0.08;
  height: 3px;
  margin-bottom: 30px;
}

.records-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.greeting {
  font-size: 26px;
  font-weight: 700;
  color: var(--blue);
  width: 100%;
}

.left-bottom {
  height: 40%;
  width: 100%;
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-bottom__title {
  font-size: 12px;
  font-weight: 700;
  color: var(--blue);
  width: 100%;
}

.progress {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.progress__bar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.progress__back,
.progress__mid,
.progress__up {
  background-color: var(--default-color);
  border-radius: 50%;
  position: absolute;
}

.progress__back {
  width: 140px;
  height: 140px;
  background: #e2e5ee;
  box-shadow: 10px 10px 30px #ced0d9, -10px -10px 30px #f6faff;
}

.progress__mid {
  width: 120px;
  height: 120px;
  background: linear-gradient(80deg, #ddd 50%, transparent 50%),
    linear-gradient(90deg, var(--blue) 50%, var(--yellow) 50%);
  box-shadow: inset 9px 9px 18px #c2c5cd, inset -9px -9px 18px #ffffff;
  transition: background 1s ease-in-out;
}

.progress__up {
  width: 70px;
  height: 70px;
  background: linear-gradient(145deg, #cbced6, #f2f5ff);
  box-shadow: 22px 22px 59px #ced0d9, -22px -22px 59px #f6faff;
}

.progress__text {
  position: absolute;
  color: var(--blue);
}

.health {
  margin-left: 50px;
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.health__board {
  padding: 20px 0px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.head__item {
  height: 140px;
  width: 200px;
  margin-right: 10px;
}

.health__text {
  font-size: 16px;
  color: var(--blue);
  line-height: 140%;
  text-align: center;
  font-weight: 600;
}

.health__text span {
  font-size: 6px;
}

.health__subtitle {
  font-size: 8px;
  color: var(--light-blue);
  width: 100%;
  padding: 10px;
}

.health__bg {
  height: 95%;
  border-radius: 15px;
  padding: 20px 20px;
  background: #e2e5ee;
  box-shadow: 13px 13px 26px #d0d3db, -13px -13px 26px #f4f7ff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.health__contents {
  width: 100%;
  display: flex;
  margin: 0px 10px;
  justify-content: space-between;
  align-items: flex-end;
}

.cup {
  width: 30px;
  height: 100%;
  background: #e2e5ee;
  box-shadow: 2px 2px 5px #d0d3db, -2px -2px 5px #f4f7ff;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.water {
  width: 90%;
  height: 0%;
  background: linear-gradient(145deg, #a7b7e4a8, #5979be86);
  box-shadow: 4px 4px 9px #d7dae2, -4px -4px 9px #edf0fa;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  transition: height 0.5s ease-in-out;
}

.health__btns {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.health__btns-plus-and-minus {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.health__medicine {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: linear-gradient(145deg, #f2f5ff, #cbced6);
  box-shadow: 4px 4px 5px #d2d5dd, -4px -4px 5px #f2f5ff;
  transition: background 1s ease-in-out;
}

.health__medicine--ate {
  background: linear-gradient(145deg, #7a83ad, #909bcd);
  box-shadow: 4px 4px 5px #7a83ad, -4px -4px 5px #95a0d3;
}

.health__medicine--ate i {
  color: white;
}

.health__total {
  font-size: 6px;
  color: var(--blue);
}

.health__contents .fa-walking {
  font-size: 40px;
  color: var(--light-blue);
}
