@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap");

@import "variables.css";
@import "reset.css";

@import "container-right.css";

* {
  user-select: none;
  font-family: "Noto Sans KR", sans-serif;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--default-color);
}

.container {
  height: 80%;
  width: 1000px;
  background-color: var(--default-color);
  border-radius: 15px;
  box-shadow: 0px 42px 79px #a2a4ad;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container__left {
  height: 95%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  justify-content: space-between;
  padding: 10px 20px 30px 40px;
}

.top-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

.top-bar__clock {
  font-size: 20px;
  font-weight: 700;
  color: var(--blue);
  width: 100%;
}

.top-bar__d-day {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.top-bar__d-day-wiget {
  padding: 3px 11px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
  background: linear-gradient(145deg, #f2f5ff, #cbced6);
  box-shadow: 5px 5px 9px #d0d3db, -5px -5px 9px #f4f7ff;
  margin-right: 10px;
}

.d-day__date {
  font-size: 12px;
  font-weight: 700;
  color: var(--blue);
}

.d-day__text {
  font-size: 10px;
  color: var(--light-blue);
}

.top-bar__d-day-add-btn {
  background-color: transparent;
  border: 1.5px dashed var(--light-blue);
  border-radius: 13px;
  padding: 5px 14px;
  margin-left: 5px;
  color: var(--light-blue);
}

hr {
  width: 100%;
  border-radius: 2px;
  background: var(--blue);
  opacity: 0.08;
  height: 3px;
  margin-bottom: 30px;
}

.records-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.greeting {
  font-size: 26px;
  font-weight: 700;
  color: var(--blue);
  width: 100%;
}

.record-btns {
  width: 300px;
  height: 30px;
  display: flex;
  border-radius: 13px;
  background: #e2e5ee;
  box-shadow: inset 5px 5px 7px #d2d5dd, inset -5px -5px 7px #f2f5ff;
  justify-content: space-between;
  padding: 0px 20px;
}

.record-btns button,
.left-bottom button {
  background-color: transparent;
  color: var(--light-blue);
}

.records {
  height: 30%;
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row-reverse;
}

.records__record-one-day {
  height: 100%;
  width: 30px;
  padding: 5px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 10px;
}

.records__bar {
  height: 100%;
  width: 10px;
  padding: 2px;
  border-radius: 17px;
  background: #e2e5ee;
  box-shadow: 2px 2px 5px #d0d3db, -2px -2px 5px #f4f7ff;
  margin-bottom: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.records__bar-painted {
  height: 60%;
  width: 6px;
  border-radius: 17px;
  background: var(--orange);
  box-shadow: inset 5px 5px 5px #d2d5dd, inset -5px -5px 5px #f2f5ff;
}

.records__date {
  font-size: 10px;
  color: var(--blue);
}

.left-bottom {
  height: 40%;
  width: 100%;
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-bottom__title {
  font-size: 12px;
  font-weight: 700;
  color: var(--blue);
  width: 100%;
}

.progress {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.progress__bar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.progress__back,
.progress__mid,
.progress__up {
  background-color: var(--default-color);
  border-radius: 50%;
  position: absolute;
}

.progress__back {
  width: 140px;
  height: 140px;
  background: #e2e5ee;
  box-shadow: 10px 10px 30px #ced0d9, -10px -10px 30px #f6faff;
}

.progress__mid {
  width: 120px;
  height: 120px;
  background: #e2e5ee;
  box-shadow: inset 9px 9px 18px #c2c5cd, inset -9px -9px 18px #ffffff;
}

.progress__up {
  width: 70px;
  height: 70px;
  background: linear-gradient(145deg, #cbced6, #f2f5ff);
  box-shadow: 22px 22px 59px #ced0d9, -22px -22px 59px #f6faff;
}

.health {
  margin-left: 50px;
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.health__board {
  padding: 20px 0px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.head__item {
  height: 140px;
  width: 200px;
  margin-right: 10px;
}

.health__text {
  font-size: 12px;
  color: var(--light-blue);
}

.health__subtitle {
  font-size: 8px;
  color: var(--light-blue);
  width: 100%;
  padding: 10px;
}

.health__bg {
  height: 95%;
  border-radius: 15px;
  padding: 10px;
  background: #e2e5ee;
  box-shadow: 13px 13px 26px #d0d3db, -13px -13px 26px #f4f7ff;
}
